repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.16
    hooks:
      # To ensure the lockfile is up-to-date:
      - id: uv-lock
      # To autoexport uv.lock to requirements.txt:
      - id: uv-export
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      # Run the ruff linter.
      - id: ruff
        args: [ --fix ]