alembic==1.14.1
apscheduler==3.10.0
discord.py==2.3.2
SQLAlchemy==2.0.35
python-dotenv==1.0.1
matplotlib==3.9.2
ruff==0.1.13
mysql-connector-python==9.1.0
PyMySQL==1.1.1
requests==2.32.3
pytest==8.3.4
pytest-mock==3.14.0
pre-commit==4.1.0